.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
.Rapp.history
.Rproj
bantu_ctmc-strict-bd.trees
bantu_ctmc-strict-bd-subsample.trees
bantu_ctmc-strict-bd-subsample2.trees
iecor_cov-strict-bd.trees
iecor_ctmc-strict-bd-fossilsRemoved.trees
st_ctmc-strict-bd-fossilRemoved.trees
tea_ctmc-strict-bd-fossilsRemoved.trees
tea_ctmc-strict-fbd.trees
st_ctmc-strict-fbd.trees
data/real/bantu_ctmc-strict-bd-subsample/bantu_ctmc-strict-bd-subsample.trees
data/real/st_ctmc-strict-bd-fossilsRemoved-tibetanPrior/st_ctmc-strict-bd-fossilsRemoved-tibetanPrior.trees
tea_ctmc-strict-fbd-constrained.trees
/Users/kopp/Documents/phylogeny_trust/data/real/tea_ctmc-strict-fbd-constrained/tea_ctmc-strict-fbd-constrained.trees


ctmc-strict-bd.trees.zip
IECoR2-chr_1695819208636.log.permeaning 
IECoR2-chr_1695819208636.trees
trans-ctmc-strict-fbd/data2.trees
