.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
.Rapp.history
.Rproj
ctmc-strict-bd.trees
ctmc-strict-bd.trees.zip
IECoR2-chr_1695819208636.log.permeaning
IECoR2-chr_1695819208636.trees
trans-ctmc-strict-fbd/data2.trees